{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "color-hex-length": "long",
    "string-quotes": "single",
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}