/* Font Sizes */
$font-size: 14px;
$font-size-small: 12px;
$font-size-big: 16px;
$font-size-large: 18px;

/* Color Scales */
$B50:  #e3f2fd;
$B100: #bbdefb;
$B200: #90caf9;
$B300: #64b5f6;
$B400: #42a5f5;
$B500: #2196f3;
$B600: #1e88e5;
$B700: #1976d2;
$B800: #1565c0;
$B900: #0d47a1;
$G50:  #e8f5e9;
$G100: #c8e6c9;
$G200: #a5d6a7;
$G300: #81c784;
$G400: #66bb6a;
$G500: #4caf50;
$G600: #43a047;
$G700: #388e3c;
$G800: #2e7d32;
$G900: #1b5e20;
$R50:  #ffebee;
$R100: #ffcdd2;
$R200: #ef9a9a;
$R300: #e57373;
$R400: #ef5350;
$R500: #f44336;
$R600: #e53935;
$R700: #d32f2f;
$R800: #c62828;
$R900: #b71c1c;
$K50:  #fafafa;
$K100: #f5f5f5;
$K200: #eeeeee;
$K300: #e0e0e0;
$K400: #bdbdbd;
$K500: #9e9e9e;
$K600: #757575;
$K700: #616161;
$K800: #424242;
$K900: #212121;

$primary-color: $B500;
$primary-color-darker: $B700;
