@import '../style/vars';

@mixin button-general {
  padding: 5px;
  border: none;
  font-size: $font-size;

  .dish-ButtonFooter {
    font-size: $font-size-small;
  }
}

.dish-Button {
  @include button-general;

  border: 1px solid $K700;

  &:hover {
    background-color: $K200;

    &:active {
      background-color: $K300;
    }
  }

  &-primary {
    @include button-general;

    color: $K50;
    background-color: $B500;

    &:hover {
      background-color: $B600;

      &:active {
        background-color: $B700;
      }
    }
  }

  &-danger {
    @include button-general;

    color: $K50;
    background-color: $R400;

    &:hover {
      background-color: $R500;

      &:active {
        background-color: $R600;
      }
    }
  }

  &-link {
    font-size: $font-size;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }
}
