@import '../styles/vars';

button.btn {
  padding: 5px;
  border-radius: 5px;
  background-color: $G100;
  border: 1px solid $G500;
  outline: none;
  &:hover {
    background-color: $G300;
  }

  &:focus {}

  &.primary {
    background-color: $B300;
    border: 1px solid $B900;
    color: $G50;
    &:hover {
      background-color: $B500;
    }
  }
}
